h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: lightslategray;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}


#navbarColor{
    background-color: #E9EAF5 !important;
    padding-left: 30px;
}

div#navbarNavAltMarkup {
    justify-content: end !important;
    padding-right: 30px;
    padding-top: 15px;
}

.navbarCompany{
    background-color: #E9EAF5;
    padding-left: 30px;
    font-family: var(--bs-body-font-family);
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
}

#loginButton{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    background-color: #B6CAFB;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
}

#formattedISRA {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 40px;
}

#footerColor{
    background-color: #E9EAF5 !important;
}

img.d-block.w-100 {
    height: 500px !important;
}

.titleCard {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.repoStyleButton{
    color: rgba(0,0,0,.55);
    text-decoration: none;
}

h5.card-header {
    background-color: #E9EAF5;
}
.center {
    text-align: center;
    align-items: center;
}

#login{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#exampleInputEmail1{
    width: 500px;
}

#exampleInputPassword1{
    width: 500px;
}

#aboutUs{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
}
#aboutDescription {
    margin-top: 20px;
}

.loginButton{
    color: white;
    text-decoration: none;
}

#carouselHeight{
    height: 700px !important;
}

.userProfile{
    background-color: #E9EAF5;
    padding-bottom: 50px;
}


#largeTable{
    font-size: 30px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height: 100px;   /* Height of the footer */
   background:#6cf;
   background-color: #E9EAF5 !important;
}

.button-space {
    margin-left: 5px;
}
