#navbarColor{
    background-color: #E9EAF5 !important;
    padding-left: 30px;
}

div#navbarNavAltMarkup {
    justify-content: end !important;
    padding-right: 30px;
    padding-top: 15px;
}

.navbarCompany{
    background-color: #E9EAF5;
    padding-left: 30px;
    font-family: var(--bs-body-font-family);
    padding-top: 0px;
}

#loginButton{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    background-color: #B6CAFB;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
}

#formattedISRA {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 40px;
}

#footerColor{
    background-color: #E9EAF5 !important;
}

img.d-block.w-100 {
    height: 500px !important;
}

.titleCard {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.repoStyleButton{
    color: rgba(0,0,0,.55);
    text-decoration: none;
}

h5.card-header {
    background-color: #E9EAF5;
}