<!doctype html>
<html>
  <head>
    <title>ISRA</title>
    <link rel="stylesheet" href="css/styles.css">

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="formattedISRA" href="#">ISRA <span id='sm-nav-font'>Indiana Soccer Referee Association</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse d-flex" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gameAssignments.html">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="refereeProfile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="assign.html">Assign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="refereeDetails.html">Ref Details</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="refreereport.html">Ref Report</a></li>
            <li><a class="dropdown-item" href="daterange.html">Game Report</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <body>

   <!-- Form -->
   <div class="container">
    <div class="col col-lg-4" id="masterApp">
      <form v-on:submit.prevent="DateRangeRep" >
        <div class="mb-3">
          <label for="startdate" class="form-label">Select Start date</label>
          <input type="date" v-model="dateForm.start"class="form-control"  id="startdate" required="required">
        </div>
        <div class="mb-3">
          <label for="enddate" class="form-label">Select End date</label>
          <input type="date" v-model="dateForm.end" class="form-control" id="enddate" required="required">
        </div>
        <div class="dropdown">
          <select class="form-select" aria-label="Default select example" v-model="dateForm.refID"
          id="referee_id">
              <option v-for="r in referees" :value= 'r.refID' >{{ r.name }}</option>
          </select>
        </div>
      
        <button type="submit">View reports</button>
      </form>

      <p><a href="api/assignments/?format=csv" download> Download as CSV </a></p>

      
        
      <div class="col col-lg-8">
        <!-- Table START-->
        <table class="table" id="daterefTable">
          <thead>
            <tr>
              <th>Status</th>
              <th>Field</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="dategame in assign">
                <td>{{ dategame.refStatus }}</td>
                <td>{{ dategame.field}}</td>
                <td>{{ dategame.date }}</td>
                <td>
                
                  
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
    
    <!-- Script Table-->
    <script src="js/masterReferee.js"></script>

  </body>
</html>