<!doctype html>
<html>
  <head>
    <title>ISRA</title>
    <link rel="stylesheet" href="css/styles.css">

    <!-- Import Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
 
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" id="formattedISRA" href="#">ISRA <span id='sm-nav-font'>Indiana Soccer Referee Association</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse d-flex" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gameAssignments.html">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="refereeProfile.html">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assign.html">Assign</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="refereeDetails.html">Ref Details</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="refreereport.html">Ref Report</a></li>
              <li><a class="dropdown-item" href="daterange.html">Game Report</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body>
    <div class="container" id="gameApp">
      <h1 id="pageHeadersReports">Master Game List</h1>
      <center class="titleCard">
        <div class="card">
          <h5 class="card-header">*Notice*</h5>
          <div class="card-body">
            <h5 class="card-title">Please Read</h5>
            <p class="card-text">This page is for assignors only. Please note that all game changes can be seen once created. Please do not delete games unless they have been canceled.</p>
          </div>
        </div>
      </center>
        <div class="row align-items-start">
          <div class="col col-lg-8">
          <!-- Table START-->
          <table class="table" id="taskTable">
            <thead>
              <tr>
                <th>Game ID</th>
                <th>Field</th>
                <th>Date</th>
                <th>Time</th>
                <th>Game Level</th>
                <th>Edit/Delete</th>
              </tr>
            </thead>
            <tbody>
                <tr v-for="game in games">
                  <td>{{ game.gameID }}</td>
                  <td>{{ game.field}}</td>
                  <td>{{ game.date }}</td>
                  <td>{{ game.time }}</td>
                  <td>{{ game.gameLevel }}</td>
                  <td>
                    <button type="button" v-on:click="selectGame(game)" class="btn btn-outline-secondary btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      Edit
                    </button>
                    <button type="button" v-on:click="postDeleteGame(game)" class="btn btn-outline-secondary btn-sm btn-outline-danger button-space">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
            </tbody>
          </table>
          <!-- Table END-->
          <button type="button" class="btn btn-primary"><a href="api/games/?format=csv" download id="downloadButton"> Download as CSV </a></button> 
        </div>

          <!-- Form -->
          <div class="col col-lg-4">
            <form v-on:submit.prevent="postGame" class="masterGameForm">
              <div class="mb-3">
                <label for="field" class="form-label">Field Title</label>
                <input type="text" v-model="gameForm.field" class="form-control" id="field" required="required">
              </div>
              <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" v-model="gameForm.date" class="form-control" id="date" required="required">
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">Time</label>
                <input type="text" v-model="gameForm.time" class="form-control" id="time" required="required">
              </div>
              <div class="mb-3">
                <label for="gameLevel" class="form-label">Game Level</label>
                <input type="text" v-model="gameForm.gameLevel" class="form-control" id="gameLevel" required="required">
              </div>

              <button type="submit" class="btn btn-primary">{{ selectedGame === null ? "Add" : "Edit" }} Game</button>
              <button type="button" class="btn btn-outline-secondary" 
                v-if="selectedGame"
                v-on:click="resetGameForm">Cancel</button>
            </form>
          </div>
          <!-- Form End -->
      </div>
    </div>

    <script src="js/games.js"></script>
    <script src="js/tablesort.js"></script>
    <script>
      new Tablesort(document.getElementById('taskTable'));
    </script>

  
    <footer>
      <center>
        <span>All work produced by Clara Cappel, Ali Talib, and Manvi Saxena</span><br>
        <a href="mailto:cncappel@iu.edu | ">cncappel@iu.edu</a>
        <a href="aatalib@iu.edu | ">aatalib@iu.edu</a>
        <a href="mailto:masaxena@iu.edu | ">masaxena@iu.edu</a>
        <br><br>
        <button type="button" class="btn btn-light"><a class="repoStyleButton" href="https://github.com/cncappel/team2.git">GitHub Repo</a></button>
        <br>
      </center>
    </footer>
  </body>
</html>