<!doctype html>
<html>
  <head>
    <title>ISRA</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <nav id="navbarColor" class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="formattedISRA" class="navbar-brand" href="#">ISRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="index.html">Home<span class="sr-only"></span></a>
        <a class="nav-link" href="about.html">About Us</a>
        <a class="nav-link" href="gameAssignments.html">Game Assignments</a>
        <a class="nav-link" href="refereeProfile.html">Profile</a>
        <a class="nav-link" href="assign.html">Assign</a>
        <a class="nav-link" href="refereeDetails.html">Ref Details</a>
      </div>
    </div>
    <br>
  </nav>

  <h6 class="navbarCompany">Indiana Soccer Referee Association</h6>

  <body>
    <div class="container" id="masterApp">
      <h1 id="pageHeaders">Master Referee List</h1>
      <center class="titleCard">
        <div class="card">
          <h5 class="card-header">Notice*</h5>
          <div class="card-body">
            <h5 class="card-title">Please Read</h5>
            <p class="card-text">This page is for assignors only. Please do not share the ratings of referees with any other individual or referee.</p>
          </div>
        </div>
      </center>
        <div class="row align-items-start">
          <div class="col col-lg-8">
          <!-- Table START-->
          <table class="table" id="taskTable">
            <thead>
              <tr>
                <th>Ref ID </th>
                <th>Name </th>
                <th>Age</th>
                <th>Ref Grade </th>
                <th>Ref Rating </th>
              </tr>
            </thead>
            <tbody>
                <tr v-for="referee in referees">
                  <td>{{ referee.refID }}</td>
                  <td>{{ referee.name }}</td>
                  <td>{{ referee.age }}</td>
                  <td>{{ referee.refGrade }}</td>
                  <td class="sensitive">{{ referee.refRating }}</td>
                  <td>
                    <button type="button" v-on:click="selectRef(referee)" class="btn btn-outline-secondary btn-sm">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                      Edit
                    </button>
                    <button type="button" v-on:click="postDeleteReferee(referee)" lass="btn btn-outline-secondary btn-sm btn-outline-danger button-space">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </td>
                </tr>
            </tbody>
          </table>
          <!-- Table END-->
        </div>
          <!-- Form -->
          <div class="col col-lg-4">
            <form v-on:submit.prevent="postNewRef" class="masterRefForm">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" v-model="refForm.name" class="form-control" id="name" required="required">
              </div>
              <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="text" v-model="refForm.age" class="form-control" id="age" required="required">
              </div>
              <div class="mb-3">
                <label for="refGrade" class="form-label">Grade</label>
                <input type="text" v-model="refForm.refGrade" class="form-control" id="refGrade" required="required">
              </div>
              <div class="mb-3">
                <label for="refRating" class="form-label">Rating</label>
                <input type="text" v-model="refForm.refRating" class="form-control" id="refRating" required="required">
              </div>

              <button type="submit" class="btn btn-primary">{{ selectedRef === null ? "Add" : "Edit" }} Ref</button>
              <button type="button" class="btn btn-outline-secondary" 
                v-if="selectedRef"
                v-on:click="resetRefForm">Cancel</button>
            </form>
          </div>
      </div>
    </div>

    <!-- Script Table-->
    <script src="js/masterReferee.js"></script>
    <script src="js/tablesort.js"></script>
    <script>
      new Tablesort(document.getElementById('taskTable'));
    </script>
    
    <!-- Import Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </body>
  <!-- <footer id="footerColor" class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class='row'>
        <div class="col-12">
          <center>
            <span class="text-muted text-center">
              <a href="mailto:cncappel@iu.edu | ">cncappel@iu.edu</a>
              <a href="aatalib@iu.edu | ">aatalib@iu.edu</a>
              <a href="mailto:masaxena@iu.edu | ">masaxena@iu.edu</a>
              <br>
              <button id="loginButton"><a class="repoStyleButton"href="https://github.com/cncappel/team2.git">GitHub Repo</a></button>
              <br>
              <span>All work produced by Clara Cappel, Ali Talib, and Manvi Saxena</span>
            </span>
          </center>
        </div>
      </div>
    </div>
  </footer> -->
</html>